<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cocoawork.monitor.dao.mapper.UserAppMapper">

    <resultMap id="baseResultMap" type="top.cocoawork.monitor.dao.entity.UserApp">
        <result column="app_id" property="appId" />
        <result column="user_id" property="userId" />
        <association column="app_id" property="appOutline" select="top.cocoawork.monitor.dao.mapper.AppOutlineMapper.selectAssociationByAppId"/>
    </resultMap>


    <select id="selectByUserId" resultMap="baseResultMap" >
        select * from t_user_app where user_id = #{userId} and is_delete = 0
    </select>

    <select id="selectByAppId" resultMap="baseResultMap" >
        select * from t_user_app where app_id = #{appId} and is_delete = 0
    </select>

</mapper>