<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocoawork.appstore.mapper.AppInfoMapper">
    <insert id="addAppInfo" parameterType="com.cocoawork.appstore.entity.AppInfo">
        INSERT INTO app_info
        (app_id, track_name, bundle_id, artist_id, screenshot_urls, artwork_url512, artwork_url60, artwork_url100, supported_devices, file_size_bytes, average_user_rating, formatted_price,
        minimum_os_version, current_version_release_date, release_notes, description, content_advisory_rating)
        VALUES
        (#{appId}, #{trackName}, #{bundleId}, #{artistId}, #{screenshotUrls}, #{artworkUrl512}, #{artworkUrl60}, #{artworkUrl100}, #{supportedDevices}, #{fileSizeBytes}, #{averageUserRating},
        #{formattedPrice}, #{minimumOsVersion}, #{currentVersionReleaseDate}, #{releaseNotes}, #{description}, #{contentAdvisoryRating})
--         ON DUPLICATE KEY UPDATE
--         track_name = values(track_name),
--         bundle_id = values(bundle_id),
--         artist_id = values(artist_id),
--         screenshot_urls = values(screenshot_urls),
--         artwork_url512 = values(artwork_url512),
--         artwork_url60 = values(artwork_url60),
--         artwork_url100 = values(artwork_url100),
--         supported_devices = values(supported_devices),
--         file_size_bytes = values(file_size_bytes),
--         average_user_rating = values(average_user_rating),
--         formatted_price = values(formatted_price),
--         minimum_os_version = values(minimum_os_version),
--         current_version_release_date = values(current_version_release_date),
--         release_notes = values(release_notes),
--         description = values(description),
--         content_advisory_rating = values(content_advisory_rating)
    </insert>

    <select id="getAppInfoById" resultType="com.cocoawork.appstore.entity.AppInfo">
        SELECT * FROM app_info WHERE app_id=#{appId}
    </select>

    <delete id="deleteAppInfoById">
        DELETE FROM app_info WHERE app_id=#{appId}
    </delete>

</mapper>