<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocoawork.appstore.mapper.AppOutlineMapper">

    <resultMap id="baseResultMap" type="com.cocoawork.appstore.entity.AppOutline">
        <result column="artist_name" property="artistName" jdbcType="VARCHAR"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="kind" property="kind" jdbcType="VARCHAR"/>
        <result column="copyright" property="copyright" jdbcType="VARCHAR"/>
        <result column="artist_id" property="artistId" jdbcType="VARCHAR"/>
        <result column="artist_url" property="artistUrl" jdbcType="VARCHAR"/>
        <result column="artwork_url100" property="artworkUrl100" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <collection property="genres" column="genres" select="selectGenresByIds" />
    </resultMap>

    <select id="selectGenresByIds" resultType="com.cocoawork.appstore.entity.Genre">
        select * FROM genre WHERE genre_id IN
        <foreach collection="genres.split(',')" open="(" close=")" separator="," item="genreId">#{genreId}</foreach>
    </select>

    <insert id="addAppRecoder" parameterType="com.cocoawork.appstore.entity.AppOutline">
        INSERT INTO app_outline (artist_name, app_id, `name`, kind, copyright, artist_id, artist_url, artwork_url100, url, country_code, media_type, update_time
        <if test="genres!=null and genres.size()>0">,genres</if>)
        VALUES (#{artistName}, #{appId}, #{name}, #{kind}, #{copyright}, #{artistId}, #{artistUrl}, #{artworkUrl100}, #{url}, #{countryCode}, #{mediaType}, #{updateTime}
        <if test="genres!=null and genres.size()>0">
            <foreach collection="genres" open=",(" close=")" separator="','" item="gener">#{gener.genreId}</foreach>
        </if>
        )
    </insert>

    <select id="getOne" resultMap="baseResultMap">
        select * FROM app_outline where 1=1 LIMIT 1
    </select>

    <select id="getApps" resultMap="baseResultMap">
        SELECT * FROM app_outline where 1=1
        <if test="countryCode!=null">AND country_code = #{countryCode}</if>
        <if test="mediaType!=null">AND media_type = #{mediaType}</if>
    </select>

    <select id="getAppById" resultMap="baseResultMap">
        SELECT * FROM app_outline WHERE app_id=#{id}
    </select>

    <delete id="deleteAppById" >
        DELETE FROM app_outline WHERE app_id=#{id}
    </delete>

</mapper>