<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocoawork.appstore.mapper.AppRecoderMapper">

    <insert id="addAppRecoder" parameterType="com.cocoawork.appstore.entity.AppRecoder">
        INSERT INTO recoder (artist_name, app_id, `name`, kind, copyright, artist_id, artist_url, artwork_url100, url, country_code, media_type, update_time
        <if test="genres!=null">,genres</if>)
        VALUES (#{artistName}, #{appId}, #{name}, #{kind}, #{copyright}, #{artistId}, #{artistUrl}, #{artworkUrl100}, #{url}, #{countryCode}, #{mediaType}, #{updateTime}
        <if test="genres!=null">
            <foreach collection="genres" open=",(" close=")" separator="','" item="gener">#{gener.genreId}</foreach>
        </if>
        )
    </insert>

</mapper>