<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocoawork.appstore.mapper.FeedMapper">
    <insert id="addFeed" parameterType="com.cocoawork.appstore.entity.Feed">
        INSERT INTO feed (feed_name, feed_value, media_value) VALUES (#{feedName}, #{feedValue}, #{mediaValue})
    </insert>
</mapper>