<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocoawork.appstore.mapper.UserRoleMapper">

    <resultMap id="baseResultMap" type="com.cocoawork.appstore.entity.UserRole">
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
        <!--关联role查询-->
        <!-- property:实体类中字段名，   column：当前表中列名，作为参数传递到子查询  select：子查询  -->
        <collection property="roles" column="roles" select="selectRolesByRoleIds"/>
    </resultMap>

    <resultMap id="roleMap" type="com.cocoawork.appstore.entity.Role">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_title" property="roleTitle" jdbcType="VARCHAR"/>
        <!--关联Permission查询-->
        <collection property="permissions" column="role_permissions" select="selectPermissionsByPerIds"/>
    </resultMap>

    <select id="selectRolesByRoleIds" parameterType="string" resultMap="roleMap">
        SELECT * FROM role WHERE id IN
        <foreach collection="roles.split(',')" item="roleId" open="(" close=")" separator=",">#{roleId}</foreach>
    </select>

    <select id="selectPermissionsByPerIds" parameterType="string" resultType="com.cocoawork.appstore.entity.Permission">
        SELECT * FROM permission WHERE id IN
        <foreach collection="role_permissions.split(',')" item="permissionId" open="(" close=")" separator=",">#{permissionId}</foreach>
    </select>

    <insert id="addOrUpdate" parameterType="com.cocoawork.appstore.entity.UserRole">
        INSERT INTO user_role (uid, roles)
        VALUES
        (#{uid}
            <foreach collection="roles" separator="','" item="role" open=",">&apos;${role.id}&apos;</foreach>
        )
        ON DUPLICATE KEY UPDATE
        uid = values(uid),
        roles = values(roles)
    </insert>


    <select id="getUserRoleById" resultMap="baseResultMap" >
        select * FROM user_role WHERE uid = #{id}
    </select>


</mapper>